[Desktop Entry]
Type=Application
Version=1.0
Name=africana-gui
GenericName=africana-gui
Comment=Modern and malleable automated framework
Keywords=Automation
Icon=/opt/africana-framework/africana.jpeg
TryExec=/usr/share/kali-menu/exec-in-shell "cd /home/shepherd/Documents/africana-framework/; python3 ./africana.py"
Exec=/usr/share/kali-menu/exec-in-shell "cd /home/shepherd/Documents/africana-framework/; python3 ./africana.py"
Categories=08-exploitation-tools;13-social-engineering-tools;14-08-africana-service;14-services;
X-GNOME-Autostart-Delay=30
StartupNotify=true
